@import '@/app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    gap: 20px;
}
.container {
    display: flex;
    width: $questionElement;
    padding: 16px 31px;
    align-items: center;
    gap: 16px;
    border-radius: $standardRadius;
    border: 0;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
}
.selectedBtn {
    color: white;
    background: $chosenOption;
}

@media (max-width: 768px) {
    .container {
        width: 90vw;
    }
}
