.container {
    display: flex;
    width: 668px;
    padding: 16px 31px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 0;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.selectedBtn {
    color: white;
    background: #e83d43;
}
.container:hover {
    background: #17b76d;
    color: white;
}
