@import '@/app/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    gap: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}
.btnsArea {
    display: flex;
    flex-direction: row;
    width: $questionElement;
    gap: 14px;
}
/* tablet breakpoint */
@media (max-width: 768px) {
    .grid {
        display: block;
    }
    .main {
        padding: 2rem;
    }
    .btnsArea {
        width: 90vw;
    }
}
