//Colors
$btnPrimary: #0075b4;
$btnSecondary: #0073af;
$whiteColor: rgb(232, 232, 232);
$redColor: rgb(175, 2, 2);
$hoverOption: rgb(69, 126, 247);
$chosenOption: cornflowerblue;
$yellowColor: #ffd400;

//Borders
$standardRadius: 8px;

//Fonts
$headingPage: 32px;
$headingSecondary: 24px;
$standardSize: 16px;

$boldFont: 700;
$thinFont: 400;

//Widths
$questionElement: 668px;
