@import '@/app/variables.scss';

.button {
    background: $btnPrimary;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $standardSize;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: $standardRadius;
}
